{% extends 'base2.html.twig' %}

{% block title %}New Reponse{% endblock %}

{% block body %}
   <div style="text-align: center;">
  <h1>ajouter Reponse</h1>
  {{ include('reponse/_form.html.twig') }}
  <a href="{{ path('app_question_index') }}"><button>back to list</button></a>
</div>

{% endblock %}
