{% extends 'base2.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}
   <div style="text-align: center;">
    <h1>posez une Question</h1>

    {{ include('question/_form.html.twig') }}

    <a href="{{ path('app_question_index') }}"><button>back to list</button></a>
    </div>
{% endblock %}
